@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 233deg 100% 4%;
    --color-accent: 153deg 60% 53%;
    --color-neutral: 0deg 0% 100%;
  }

  :root[data-theme='light'] {
    --color-primary: 0deg 0% 100%;
    --color-accent: 153deg 60% 53%;
    --color-neutral: 0deg 0% 0%;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  html::-webkit-scrollbar {
    width: 1rem;
  }

  html::-webkit-scrollbar-track {
    background-color: inherit;
  }

  html::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: hsla(var(--color-neutral) / 0.2);
    border: 0.25rem solid transparent;
    border-radius: 0.375rem;
  }

  html::-webkit-scrollbar-thumb:hover {
    background-color: hsla(var(--color-neutral) / 0.3);
  }

  body {
    -webkit-tap-highlight-color: transparent;
  }
}
