@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url('fonts/manrope.woff2') format('woff2');
  }

  :root {
    --header-height: 4rem;

    @apply md:[--header-height:5rem];

    color-scheme: dark;
  }
}
