---
import { Icon } from 'astro-icon/components';
import contactAndSocialLinks from '@/data/contact-and-social-links';
import MainLayout from '@/layouts/main-layout.astro';
import Frame from '@/components/frame.astro';
import ContactForm from '@/components/contact-form.astro';
import FormField from '@/components/form-field.astro';
import FormLabel from '@/components/form-label.astro';
import FormInput from '@/components/form-input.astro';
import FormTextarea from '@/components/form-textarea.astro';
import Button from '@/components/button.astro';
---

<MainLayout
  title="Contact - Özgür Gökdemir"
  description="Contact Özgür Gökdemir, a frontend developer focused on building fast and responsive web apps. Let's work together!"
>
  <section class="container grid gap-16 py-16 md:grid-cols-2 md:gap-8 md:py-32">
    <div class="flex flex-col gap-6 md:items-start md:gap-8 md:pt-8 lg:pr-12">
      <h1 class="text-4xl font-semibold text-white md:text-5xl">
        Get in touch.
      </h1>
      <p class="text-lg font-medium text-white/60">
        I’m always open to new opportunities and collaborations. Whether you
        have a project in mind or just want to say hello, feel free to reach
        out!
      </p>
      <ul class="flex flex-col gap-4">
        {
          contactAndSocialLinks.map(({ url, icon, text }) => (
            <li class="w-fit">
              <a
                href={url}
                target="_blank"
                class="group flex items-center gap-3 text-base font-medium outline-2 outline-offset-2 outline-blue-500 transition-transform hover:translate-x-2 focus-visible:outline"
              >
                <Icon
                  name={icon}
                  size={20}
                  class="text-white/80 transition-colors group-hover:text-white"
                />
                <span class="text-white/60 transition-colors group-hover:text-white">
                  {text}
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <Frame border={{ lg: true }}>
      <ContactForm class="grid gap-6 lg:p-8">
        <FormField>
          <FormLabel for="name">Name</FormLabel>
          <FormInput
            type="text"
            name="name"
            id="name"
            placeholder="John Doe"
            required
          />
        </FormField>
        <FormField>
          <FormLabel for="email">Email</FormLabel>
          <FormInput
            type="email"
            name="email"
            id="email"
            placeholder="example@gmail.com"
            required
          />
        </FormField>
        <FormField>
          <FormLabel for="message">Message</FormLabel>
          <FormTextarea
            rows={4}
            name="message"
            id="message"
            placeholder="Your message."
            required
          />
        </FormField>
        <Button type="submit" class="md:w-fit">Send message</Button>
      </ContactForm>
    </Frame>
  </section>
</MainLayout>
