---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import MainLayout from '@/layouts/main-layout.astro';
import LinkButton from '@/components/link-button.astro';
import FeaturedProjectCard from '@/components/featured-project-card.astro';
import ozgurGokdemir from '@/assets/ozgur-gokdemir.png';
import ecommerce from '@/assets/nextjs-ecommerce.png';

const FEATURED_PROJECTS = Array.from({ length: 4 }, () => ({
  title: 'eCommerce',
  description: 'A modern ecommerce example.',
  image: ecommerce,
  color: '#2563eb',
  href: '/projects/ecommerce',
}));
---

<MainLayout title="Özgür Gökdemir — Frontend Developer">
  <section
    class="container flex flex-col gap-6 py-16 md:items-center md:gap-8 md:pb-40 md:pt-56"
  >
    <h1
      class="text-5xl font-semibold text-white md:text-center md:text-[5rem] md:leading-tight"
    >
      Hi, I’m Özgür Gökdemir.
      <br />
      I’m a frontend developer.
    </h1>
    <p class="text-xl font-semibold text-white/60">
      I build high-performance and responsive web applications.
    </p>
    <div class="flex items-center gap-4 pt-2 md:pt-5">
      <LinkButton href="/contact">
        <Icon name="heroicons:chat-bubble-left-ellipsis-20-solid" size={20} />
        Let's Talk
      </LinkButton>
      <LinkButton href="/projects" variant="secondary">
        View my work
      </LinkButton>
    </div>
  </section>
  <section
    class="container flex flex-col gap-16 py-16 md:flex-row md:items-center md:gap-8 md:py-36"
  >
    <div class="flex flex-1 flex-col items-start gap-6 md:mr-12 md:gap-8">
      <h2 class="text-4xl font-semibold text-white md:text-5xl">
        Get to know me.
      </h2>
      <p class="text-lg font-semibold text-white/60">
        I’m a frontend developer based in Türkiye, specializing in building
        dynamic web applications using TypeScript, React, and Next.js. I develop
        interactive features and optimize user experiences to deliver fast,
        efficient, and user-friendly solutions. Whether working independently or
        as part of a team, I aim to meet both business and user needs.
      </p>
      <LinkButton href="/about" variant="secondary" class="group gap-2">
        More about me
        <Icon
          name="heroicons:arrow-long-right-20-solid"
          size={20}
          class="text-emerald-400/60 transition-transform group-hover:translate-x-1"
        />
      </LinkButton>
    </div>
    <div
      class="relative h-fit flex-1 rounded-4xl bg-gradient-radial-to-b from-white/20 to-transparent p-4 after:absolute after:inset-4 after:rounded-2xl after:bg-gradient-to-b after:from-transparent after:to-black"
    >
      <Image
        src={ozgurGokdemir}
        alt="Özgür Gökdemir"
        width={500}
        height={500}
        class="w-full rounded-2xl bg-black/60 backdrop-blur-lg"
      />
    </div>
  </section>
  <section class="container flex flex-col gap-16 py-16 md:gap-24 md:py-36">
    <div class="flex flex-col items-start gap-6 md:gap-8">
      <h2 class="text-4xl font-semibold text-white md:text-5xl">
        A glimpse into my work.
      </h2>
      <p class="text-lg font-semibold text-white/60">
        Here are some projects I've loved working on.
      </p>
      <LinkButton href="/projects" variant="secondary" class="group gap-2">
        See all projects
        <Icon
          name="heroicons:arrow-long-right-20-solid"
          size={20}
          class="text-emerald-400/60 transition-transform group-hover:translate-x-1"
        />
      </LinkButton>
    </div>
    <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-8">
      {
        FEATURED_PROJECTS.map((project) => (
          <li class="md:even:-translate-y-36">
            <FeaturedProjectCard {...project} />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
