---
import type { ComponentProps } from 'astro/types';
import { Icon } from 'astro-icon/components';
import Button from '@/components/button.astro';

type Props = Omit<ComponentProps<typeof Button>, 'variant' | 'id'> & {
  fallback?: string;
};

const { fallback = '/', class: className, ...props } = Astro.props;
---

<Button
  id="back-button"
  variant="tertiary"
  class:list={['gap-2 backdrop-blur-lg', className]}
  data-fallback={fallback}
  {...props}
>
  <Icon
    name="heroicons:arrow-long-left-20-solid"
    size={20}
    class="text-white/60 transition-transform group-hover:-translate-x-1"
  />
  Back
</Button>

<script>
  import navigation from '@/utils/navigation';

  document.addEventListener('astro:page-load', () => {
    const backButton = document.getElementById(
      'back-button',
    ) as HTMLButtonElement | null;

    if (!backButton) return;

    const handleNavigateBack = () => {
      if (navigation.canGoBack()) {
        navigation.back();
      } else {
        navigation.navigate(backButton.dataset.fallback ?? '/');
      }
    };

    backButton.addEventListener('click', handleNavigateBack);
  });
</script>
