---
import type { HTMLAttributes } from 'astro/types';
import LoadingEllipsis from '@/components/loading-ellipsis.astro';
import { type VariantProps } from 'class-variance-authority';
import { buttonVariants } from '@/components/button-variants';
import { cn } from '@/lib/utils';
import Icon from '@/components/icon.astro';

type Props = HTMLAttributes<'button'> & VariantProps<typeof buttonVariants>;

const {
  variant,
  size,
  type = 'button',
  class: className,
  ...props
} = Astro.props;
---

<button
  {type}
  class={cn(buttonVariants({ variant, size, className }))}
  data-state="idle"
  {...props}
>
  <span
    class="invisible contents scale-0 transition-[visibility,opacity,scale] group-data-[state=idle]:visible group-data-[state=idle]:scale-100 group-data-[state=idle]:opacity-100 group-data-[state=idle]:delay-150"
  >
    <slot />
  </span>
  <span
    class="invisible absolute inset-0 grid scale-0 place-items-center opacity-0 transition-[visibility,opacity,scale] group-data-[state=pending]:visible group-data-[state=pending]:scale-100 group-data-[state=pending]:opacity-100 group-data-[state=pending]:delay-150"
  >
    <LoadingEllipsis />
  </span>
  <span
    class="invisible absolute inset-0 grid scale-0 place-items-center opacity-0 transition-[visibility,opacity,scale] group-data-[state=success]:visible group-data-[state=success]:scale-100 group-data-[state=success]:opacity-100 group-data-[state=success]:delay-150"
  >
    <Icon
      name="heroicons:check-circle-16-solid"
      size={16}
      class="text-primary"
    />
  </span>
  <span
    class="invisible absolute inset-0 grid scale-0 place-items-center opacity-0 transition-[visibility,opacity,scale] group-data-[state=error]:visible group-data-[state=error]:scale-100 group-data-[state=error]:opacity-100 group-data-[state=error]:delay-150"
  >
    <Icon
      name="heroicons:x-circle-16-solid"
      size={16}
      class="text-destructive"
    />
  </span>
</button>
