---
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'form'>, 'id'>;
---

<form id="contact-form" {...Astro.props}>
  <slot />
</form>

<script>
  import { actions } from 'astro:actions';
  import { showToast } from '@/utils/toast';

  document.addEventListener('astro:page-load', () => {
    const contactForm = document.getElementById(
      'contact-form',
    ) as HTMLFormElement | null;

    if (!contactForm) return;

    async function handleSubmit(event: SubmitEvent) {
      event.preventDefault();

      const contactForm = event.currentTarget as HTMLFormElement;

      const formData = new FormData(contactForm);

      const submitButton = contactForm.querySelector<HTMLButtonElement>(
        'button[type="submit"]',
      );

      if (!submitButton) return;

      setButtonLoading(submitButton, true);

      try {
        const { error } = await actions.sendMessage(formData);
        if (error) {
          throw new Error(error.message);
        }
        showToast({
          title: 'Message sent.',
          description:
            'Thank you for reaching out. I’ll get back to you as soon as possible.',
          status: 'success',
        });
        contactForm.reset();
      } catch {
        showToast({
          title: 'Failed to submit.',
          description: 'Message could not be sent. Please try again later.',
          status: 'error',
        });
      }

      setButtonLoading(submitButton, false);
    }

    function setButtonLoading(button: HTMLButtonElement, isLoading: boolean) {
      button.dataset.loading = isLoading.toString();
      button.disabled = isLoading;
    }

    contactForm.addEventListener('submit', handleSubmit);
  });
</script>
