---
import { getCollection } from 'astro:content';
import Logo from '@/components/logo.astro';
import SocialLink from '@/components/social-link.astro';

const contact = await getCollection(
  'contact',
  ({ data }) => data.id !== 'email',
);
---

<footer class="border-t border-white/10 bg-black/80 backdrop-blur-lg">
  <div
    class="container grid items-center justify-items-center gap-6 py-12 md:grid-cols-[1fr_auto_1fr]"
  >
    <div class="inline-flex md:justify-self-start">
      <Logo />
    </div>
    <p class="text-base font-medium text-white/60">
      &copy; 2024 Özgür Gökdemir. All rights reserved.
    </p>
    <div class="flex items-center gap-8 md:justify-self-end">
      {
        contact.map(({ data }) => (
          <SocialLink href={data.url} alt={data.title} icon={data.icon} />
        ))
      }
    </div>
  </div>
</footer>
