---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/lib/utils';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  class={cn(
    'relative md:rounded-3xl md:p-2.25 before:md:block before:hidden md:bg-radial-[ellipse_100%_100%_at_top] from-white/25 before:absolute before:inset-px before:rounded-[calc(1.5rem-1px)] before:bg-background/75 before:backdrop-blur-lg',
    className,
  )}
  {...props}
>
  <div
    class="before:bg-background/75 relative isolate from-white/25 to-white/10 before:absolute before:inset-px before:-z-10 before:hidden before:rounded-[calc(1rem-1px)] before:backdrop-blur-lg md:rounded-2xl md:bg-radial-[circle_farthest-side_at_top] md:p-px before:md:block"
  >
    <slot />
  </div>
</div>
