---
import type { HTMLAttributes } from 'astro/types';
import { tv, type VariantProps } from 'tailwind-variants';

type FrameVariants = VariantProps<typeof frameStyles>;

type Props = HTMLAttributes<'div'> & FrameVariants;

const { border, overlay, class: className, ...props } = Astro.props;

const frameStyles = tv(
  {
    base: 'relative z-0',
    variants: {
      border: {
        true: 'rounded-2xl bg-gradient-radial-to-b from-white/25 p-px before:absolute before:inset-px before:-z-10 before:rounded-[0.9375rem] before:bg-black/75 before:backdrop-blur-lg',
      },
      overlay: {
        true: 'after:absolute after:inset-px after:rounded-[0.9375rem] after:bg-gradient-to-b after:from-transparent after:to-black',
      },
    },
  },
  {
    responsiveVariants: true,
  },
);
---

<div class={frameStyles({ border, overlay, className })} {...props}>
  <slot />
</div>
