---
import type { LinkProps } from '@/components/Link.astro';

import Button from '@/components/Button.astro';
import Logo from '@/components/Logo.astro';
import MenuButton from '@/components/MenuButton.astro';
import NavLink from '@/components/NavLink.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';

type Props = {
  links: LinkProps[];
  resume: LinkProps;
};

const { links, resume } = Astro.props;
---

<header
  class="sticky top-0 z-40 bg-primary/70 backdrop-blur-xl transition-colors duration-300"
>
  <nav
    aria-label="Main"
    class="container flex h-24 items-center justify-between"
  >
    <Logo href="#" />
    <MenuButton class="md:hidden" />
    <ul class="hidden gap-8 md:flex">
      {
        links.map(({ href, text, external }) => (
          <li>
            <NavLink {href} {text} {external} />
          </li>
        ))
      }
    </ul>
    <div class="hidden items-center gap-6 md:flex">
      <ThemeToggle />
      <Button {...resume} size="medium" />
    </div>
  </nav>
</header>
