---
import Button from '@/components/Button.astro';
import Logo from '@/components/Logo.astro';
import MenuButton from '@/components/MenuButton.astro';
import NavLink from '@/components/NavLink.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';

type Props = {
  links: {
    href: string;
    text: string;
  }[];
};

const { links } = Astro.props;

const headerLinks = links.filter((link) => link.href !== '#contact');
---

<header
  class="sticky top-0 z-40 bg-primary/70 backdrop-blur-xl transition-colors duration-300"
>
  <nav
    aria-label="Main Navigation"
    class="container flex h-24 items-center justify-between"
  >
    <Logo href="#" />
    <MenuButton class="md:hidden" />
    <ul class="hidden gap-8 md:flex">
      {
        headerLinks.map(({ href, text }) => (
          <li>
            <NavLink {href} {text} />
          </li>
        ))
      }
    </ul>
    <div class="hidden items-center gap-6 md:flex">
      <ThemeToggle />
      <Button href="#contact" text="Contact" size="medium" />
    </div>
  </nav>
</header>
