---
import Logo from '@/components/Logo.astro';
import MenuButton from '@/components/MenuButton.astro';
import NavLink from '@/components/NavLink.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
import LinkButton from '@/components/LinkButton.astro';

const links = [
  { href: '#', text: 'Home' },
  { href: '#projects', text: 'Projects' },
  { href: '#skills', text: 'Skills' },
  { href: '#blog', text: 'Blog' },
];
---

<header class="sticky top-0 bg-primary/70 backdrop-blur-xl">
  <nav
    aria-label="Main Navigation"
    class="container flex h-24 items-center justify-between"
  >
    <Logo href="#" />
    <MenuButton class="md:hidden" />
    <ul class="hidden gap-8 md:flex">
      {
        links.map(({ href, text }) => (
          <li>
            <NavLink {href} {text} />
          </li>
        ))
      }
    </ul>
    <div class="hidden items-center gap-6 md:flex">
      <ThemeToggle />
      <LinkButton href="#contact" text="Contact" />
    </div>
  </nav>
</header>
