---
import type { HTMLAttributes } from 'astro/types';
import { twJoin, twMerge } from 'tailwind-merge';

type Props = {
  id: string;
  label: string;
  type?: HTMLAttributes<'input'>['type'] | 'textarea';
  class?: string;
};

const { id, label, type = 'text', class: className } = Astro.props;

const Input = type === 'textarea' ? 'textarea' : 'input';
---

<div class={twMerge('flex flex-col gap-3', className)}>
  <label
    for={id}
    class="font-secondary text-label-base-600 text-neutral transition-colors duration-300"
  >
    {label}
  </label>
  <Input
    {id}
    type={type === 'textarea' ? null : type}
    rows={type === 'textarea' ? 7 : null}
    class={twJoin(
      'w-full rounded-lg border border-neutral/10 bg-primary px-4 text-body-base-500 transition-[background-color,_border-color] duration-300',
      type === 'textarea'
        ? 'max-h-96 min-h-[3rem] resize-none py-2.5 sm:resize-y'
        : 'h-12'
    )}
  />
</div>
