---
import { twJoin } from 'tailwind-merge';

type Props = {
  href: string;
  text: string;
  external?: true;
  class?: string;
};

const { href, text, external, class: className, ...restProps } = Astro.props;
---

<a
  {href}
  target={external ? '_blank' : null}
  rel={external ? 'noopener noreferrer' : null}
  {...restProps}
  class={twJoin(
    'text-label-sm-500 text-neutral/70 transition-colors duration-300 hover:text-neutral focus-visible:text-neutral',
    className
  )}
>
  {text}
</a>
