---
import type { HTMLAttributes } from 'astro/types';
import { tv } from 'tailwind-variants';

type Props = HTMLAttributes<'span'>;

const { class: className, ...props } = Astro.props;

const loadingEllipsisStyles = tv({
  slots: {
    base: 'flex items-center gap-1',
    dot: 'size-1 animate-plop rounded-full bg-current',
  },
});

const { base, dot } = loadingEllipsisStyles();
---

<span class={base({ className })} {...props}>
  <span class={dot()}></span>
  <span class={dot()} style="animation-delay: 200ms;"></span>
  <span class={dot()} style="animation-delay: 400ms;"></span>
</span>
