---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/lib/utils';

type Props = HTMLAttributes<'span'>;

const { class: className, ...props } = Astro.props;
---

<span class={cn('flex items-center gap-1', className)} {...props}>
  <span class="animate-plop bg-muted-foreground size-1 rounded-[1px]"></span>
  <span
    class="animate-plop bg-muted-foreground size-1 rounded-[1px]"
    style="animation-delay: 200ms;"></span>
  <span
    class="animate-plop bg-muted-foreground size-1 rounded-[1px]"
    style="animation-delay: 400ms;"></span>
</span>
