---
import { Icon } from 'astro-icon/components';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<a
  href="/"
  class:list={[
    'focus-visible:border-ring focus-visible:ring-ring/50 inline-flex shrink-0 items-center gap-2 whitespace-nowrap outline-none focus-visible:ring-[3px]',
    className,
  ]}
>
  <Icon name="logo" size={24} />
  <span class="text-2xl leading-none font-semibold text-white">Özgür</span>
</a>
