---
import { Icon } from 'astro-icon/components';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<button
  id="menu-button"
  type="button"
  aria-label="Menu Button"
  aria-expanded="false"
  aria-controls="menu"
  class={className}
>
  <Icon
    name="heroicons:bars-3-bottom-right"
    aria-hidden="true"
    focusable="false"
    class="h-6 w-6 text-neutral transition-colors duration-300"
  />
</button>

<script>
  const menu = document.getElementById('menu') as HTMLDialogElement;

  const button = document.getElementById('menu-button') as HTMLButtonElement;

  const handleClick = () => {
    menu.showModal();
    menu.setAttribute('aria-hidden', 'false');
    button.setAttribute('aria-expanded', 'true');
  };

  button.addEventListener('click', handleClick);
</script>
