---
import NavLink from '@/components/NavLink.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';

type Props = {
  links: {
    href: string;
    text: string;
  }[];
};

const { links } = Astro.props;
---

<dialog
  id="menu"
  class="fixed top-24 z-40 mr-0 mt-0 rounded-bl-lg bg-primary/70 p-0 px-8 py-6 backdrop-blur-xl transition-colors duration-300 backdrop:opacity-0"
>
  <nav aria-label="Main" class="flex flex-col items-center gap-8">
    {links.map(({ href, text }) => <NavLink {href} {text} data-menu-link />)}
    <ThemeToggle />
  </nav>
</dialog>

<script>
  const menu = document.getElementById('menu') as HTMLDialogElement;

  const handleClick = (event: MouseEvent) => {
    const { clientX, clientY, target } = event;
    const { left, right, top, bottom } = menu.getBoundingClientRect();

    if (
      clientX < left ||
      clientX > right ||
      clientY < top ||
      clientY > bottom ||
      (target as HTMLElement).hasAttribute('data-menu-link')
    ) {
      menu.close();
    }
  };

  menu.addEventListener('click', handleClick);
</script>
