---
import { Icon } from 'astro-icon';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<button
  id="menu-button"
  type="button"
  aria-label="Menu Button"
  class={className}
>
  <Icon
    name="bars"
    aria-hidden="true"
    focusable="false"
    class="h-6 text-neutral"
  />
</button>

<script>
  const menu = document.getElementById('menu') as HTMLDialogElement;

  const button = document.getElementById('menu-button') as HTMLButtonElement;

  const handleClick = () => menu.showModal();

  button.addEventListener('click', handleClick);
</script>
