---
import { getCollection } from 'astro:content';
import NavBar from '@/components/nav-bar.astro';
import NavLink from '@/components/nav-link.astro';
import Button from './button.astro';
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/lib/utils';

type Props = HTMLAttributes<'div'>;

const { class: className } = Astro.props;

const navigation = await getCollection('navigation');
---

<div class={cn('relative inline-flex', className)}>
  <Button
    variant="ghost"
    size="icon-sm"
    class="group relative transition-colors duration-[--duration] [--color:var(--foreground)]"
    style="--width:1rem;--thickness:0.125rem;--gap:0.25rem;--duration:300ms"
    aria-label="open menu"
    aria-controls="mobile-menu"
    aria-expanded="false"
    data-hamburger-button
  >
    <span
      class="absolute top-1/2 left-1/2 h-(--thickness) w-(--width) -translate-x-1/2 translate-y-[calc(-150%-var(--gap))] transition-transform duration-[calc(var(--duration)*2/3)] group-aria-expanded:-translate-y-1/2 group-aria-expanded:-rotate-45 group-aria-expanded:delay-[calc(var(--duration)*1/3)] before:absolute before:right-0 before:h-full before:w-full before:rounded-full before:bg-(--color) before:transition-[width] before:delay-[calc(var(--duration)*1/3)] before:duration-[calc(var(--duration)*2/3)] before:group-aria-expanded:w-[60%] before:group-aria-expanded:delay-0"
    ></span>
    <span
      class="absolute top-1/2 left-1/2 h-(--thickness) w-(--width) -translate-x-1/2 -translate-y-1/2 rounded-full bg-(--color) transition-transform duration-[calc(var(--duration)*2/3)] group-aria-expanded:rotate-45 group-aria-expanded:delay-[calc(var(--duration)*1/3)]"
    ></span>
    <span
      class="absolute top-1/2 left-1/2 h-(--thickness) w-(--width) -translate-x-1/2 translate-y-[calc(50%+var(--gap))] transition-transform duration-[calc(var(--duration)*2/3)] group-aria-expanded:-translate-y-1/2 group-aria-expanded:-rotate-45 group-aria-expanded:delay-[calc(var(--duration)*1/3)] before:absolute before:right-0 before:h-full before:w-[60%] before:rounded-full before:bg-(--color) before:transition-[right] before:delay-[calc(var(--duration)*1/3)] before:duration-[calc(var(--duration)*2/3)] before:group-aria-expanded:right-[40%] before:group-aria-expanded:delay-0"
    ></span>
  </Button>
  <NavBar
    orientation="vertical"
    id="mobile-menu"
    class="group bg-background/60 absolute top-9 right-0 z-40 w-36 overflow-hidden rounded-lg border p-1 backdrop-blur-lg transition-[visibility,transform,opacity] duration-300 aria-hidden:invisible aria-hidden:-translate-y-4 aria-hidden:opacity-0"
    aria-hidden="true"
  >
    <ul class="flex flex-col gap-1">
      {
        navigation.map(({ data }) => (
          <li>
            <NavLink
              href={data.pathname}
              section={data.id}
              class="flex items-center"
              aria-label={data.text}
            >
              {data.text}
            </NavLink>
          </li>
        ))
      }
    </ul>
  </NavBar>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    let isExpanded = false;

    const mobileMenu = document.getElementById(
      'mobile-menu',
    ) as HTMLDivElement | null;

    const hamburgerButton = document.querySelector<HTMLButtonElement>(
      '[aria-controls="mobile-menu"]',
    );

    if (!mobileMenu || !hamburgerButton) return;

    const handleClick = (event: MouseEvent) => {
      if (!isExpanded) return;

      const { clientX, clientY, target } = event;
      const { left, right, top, bottom } = mobileMenu.getBoundingClientRect();

      const isClickOutsideMenu =
        clientX < left || clientX > right || clientY < top || clientY > bottom;

      if (isClickOutsideMenu && !hamburgerButton.contains(target as Node)) {
        closeMenu();
      }
    };

    const openMenu = () => {
      mobileMenu.setAttribute('aria-hidden', 'false');
      hamburgerButton.setAttribute('aria-expanded', 'true');
      hamburgerButton.setAttribute('aria-label', 'close menu');
      isExpanded = true;
    };

    const closeMenu = () => {
      mobileMenu.setAttribute('aria-hidden', 'true');
      hamburgerButton.setAttribute('aria-expanded', 'false');
      hamburgerButton.setAttribute('aria-label', 'open menu');
      isExpanded = false;
    };

    const toggleMenu = () => {
      if (isExpanded) {
        closeMenu();
      } else {
        openMenu();
      }
    };

    closeMenu();

    hamburgerButton.addEventListener('click', toggleMenu);

    document.addEventListener('click', handleClick);
  });
</script>
