---
import type { HTMLAttributes } from 'astro/types';
import { cva, type VariantProps } from 'class-variance-authority';
import { cn } from '@/lib/utils';

type Props = HTMLAttributes<'nav'> & VariantProps<typeof navBarVariants>;

const { orientation = 'vertical', class: className, ...props } = Astro.props;

const navBarVariants = cva('relative after:absolute', {
  variants: {
    orientation: {
      vertical:
        'after:left-0 after:top-[calc(var(--indicator-top)+0.5rem)] after:h-4 after:w-0.5 after:rounded-r-full after:bg-primary after:transition-[top]',
      horizontal:
        'after:-bottom-1 after:left-[calc(var(--indicator-left)+0.375rem)] after:h-0.5 after:w-[calc(var(--indicator-width)-0.75rem)] after:rounded-full after:bg-primary after:transition-[width,left]',
    },
  },
  defaultVariants: {
    orientation: 'vertical',
  },
});
---

<nav
  class={cn(navBarVariants({ orientation, className }))}
  data-nav-bar
  data-orientation={orientation}
  {...props}
>
  <slot />
</nav>

<script>
  function updateNavigation(currentSectionId: string) {
    const navBars = document.querySelectorAll<HTMLDivElement>('[data-nav-bar]');

    const navigations = Array.from(navBars, (navBar) => ({
      navBar,
      navLinks: navBar.querySelectorAll<HTMLAnchorElement>('[data-nav-link]'),
    }));

    navigations.forEach(({ navBar, navLinks }) => {
      navLinks.forEach((navLink) => {
        const isCurrent = navLink.dataset.section === currentSectionId;
        console.log({ currentSectionId });
        navLink.setAttribute('aria-current', isCurrent ? 'page' : 'false');

        if (!isCurrent) return;

        const activeLinkRect = navLink.getBoundingClientRect();
        const navBarRect = navBar.getBoundingClientRect();

        if (navBar.dataset.orientation === 'vertical') {
          navBar.style.setProperty(
            '--indicator-top',
            `${activeLinkRect.top - navBarRect.top}px`,
          );
        } else {
          navBar.style.setProperty(
            '--indicator-width',
            `${activeLinkRect.width / 2}px`,
          );
          navBar.style.setProperty(
            '--indicator-left',
            `${activeLinkRect.left - navBarRect.left + activeLinkRect.width / 4}px`,
          );
        }
      });
    });
  }

  document.addEventListener('astro:page-load', () => {
    const sections = document.querySelectorAll('section[id]');

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) return;
          const currentSectionId = entry.target.getAttribute('id');
          if (!currentSectionId) return;
          updateNavigation(currentSectionId);
        });
      },
      {
        threshold: 0,
        rootMargin: `-40% 0px -60% 0px`,
      },
    );

    sections.forEach((section) => observer.observe(section));
  });
</script>
