---
import type { HTMLAttributes } from 'astro/types';
import { cva, type VariantProps } from 'class-variance-authority';
import { cn } from '@/lib/utils';

type Props = HTMLAttributes<'nav'> & VariantProps<typeof navBarVariants>;

const { orientation = 'vertical', class: className, ...props } = Astro.props;

const navBarVariants = cva('relative after:absolute after:bg-primary', {
  variants: {
    orientation: {
      vertical:
        'after:left-0 after:top-[calc(var(--indicator-top)+0.625rem-1px)] after:h-5 after:w-0.5 after:rounded-r-full after:transition-[background-color,top]',
      horizontal:
        'after:-bottom-1 after:left-[calc(var(--indicator-left)+0.375rem)] after:h-0.5 after:w-[calc(var(--indicator-width)-0.75rem)] after:rounded-full after:transition-[background-color,width,left]',
    },
  },
  defaultVariants: {
    orientation: 'vertical',
  },
});
---

<nav
  class={cn(navBarVariants({ orientation, className }))}
  data-nav-bar
  data-orientation={orientation}
  {...props}
>
  <slot />
</nav>

<script>
  function updateNavigation(id: string, isHome: boolean) {
    const navigations = Array.from(
      document.querySelectorAll<HTMLDivElement>('[data-nav-bar]'),
    ).map((navBar) => ({
      navBar,
      navLinks: navBar.querySelectorAll<HTMLAnchorElement>('[data-nav-link]'),
    }));

    navigations.forEach(({ navBar, navLinks }) => {
      navLinks.forEach((navLink) => {
        const isCurrent = navLink.dataset.id === id;
        navLink.setAttribute(
          'aria-current',
          isCurrent ? (isHome ? 'location' : 'page') : 'false',
        );
        if (!isCurrent) return;

        const activeLinkRect = navLink.getBoundingClientRect();
        const navBarRect = navBar.getBoundingClientRect();

        if (navBar.dataset.orientation === 'vertical') {
          navBar.style.setProperty(
            '--indicator-top',
            `${activeLinkRect.top - navBarRect.top}px`,
          );
        } else {
          navBar.style.setProperty(
            '--indicator-width',
            `${activeLinkRect.width / 2}px`,
          );
          navBar.style.setProperty(
            '--indicator-left',
            `${activeLinkRect.left - navBarRect.left + activeLinkRect.width / 4}px`,
          );
        }
      });
    });
  }

  document.addEventListener('astro:after-swap', () => {
    if (location.pathname === '/' && location.hash) {
      const newUrl = location.pathname + location.search;
      history.replaceState(history.state, '', newUrl);
    }
  });

  document.addEventListener('astro:page-load', () => {
    const isHome = location.pathname === '/';

    if (isHome) {
      if (location.hash) {
        const newUrl = location.pathname + location.search;
        history.replaceState(history.state, '', newUrl);
      }

      const sections = document.querySelectorAll('section[id]');

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (!entry.isIntersecting) return;
            const id = entry.target.getAttribute('id');
            if (!id) return;
            requestAnimationFrame(() => {
              updateNavigation(id, isHome);
            });
          });
        },
        {
          threshold: 0,
          rootMargin: `-40% 0px -60% 0px`,
        },
      );

      sections.forEach((section) => observer.observe(section));
    } else {
      const id = location.pathname.split('/').filter(Boolean)[0];
      requestAnimationFrame(() => {
        updateNavigation(id, isHome);
      });
    }
  });
</script>
