---
type Props = {
  href: string;
  text: string;
};

const { href, text } = Astro.props;
---

<a
  class="text-label-sm-500 text-neutral/70 transition-colors duration-300 hover:text-neutral focus-visible:text-neutral"
  {href}
>
  {text}
</a>
