---
import { Icon } from 'astro-icon/components';

type Props = {
  href: string | null;
  text: string;
  icon: string;
};

const { href, text, icon } = Astro.props;
---

<a
  {href}
  target="_blank"
  rel="noopener noreferrer"
  role={!href ? 'link' : null}
  aria-disabled={!href}
  class={`flex items-center h-8 sm:h-auto border border-neutral/10 sm:border-none rounded-lg sm:rounded-none px-3 sm:px-0 gap-3 text-label-base-600 text-neutral/70 transition-colors duration-300 ${
    href
      ? 'hover:text-neutral focus-visible:text-neutral hover:border-neutral/30 focus-visible:border-neutral/30'
      : 'cursor-not-allowed'
  }`}
>
  <Icon name={icon} aria-hidden="true" focusable="false" class="h-5 w-5" />
  {text}
</a>
