---
import { Icon } from 'astro-icon';
---

<button
  type="button"
  aria-label="Theme Toggle"
  class="group overflow-hidden rounded-full"
>
  <Icon
    name="sun"
    aria-hidden="true"
    focusable="false"
    class="h-6 text-neutral/70 transition-colors duration-300 group-hover:text-neutral group-focus-visible:text-neutral"
  />
</button>
