---
import { Icon } from 'astro-icon/components';
import { twJoin } from 'tailwind-merge';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<button
  data-theme-toggle
  type="button"
  aria-label="Theme Toggle"
  class={twJoin(
    'rounded-full text-neutral/70 transition-colors duration-300 hover:text-neutral focus-visible:text-neutral',
    className
  )}
>
  <Icon
    name="heroicons:sun"
    aria-hidden="true"
    focusable="false"
    class="h-6 w-6"
  />
</button>

<script>
  const toggles = document.querySelectorAll<HTMLButtonElement>(
    '[data-theme-toggle]'
  );

  const handleClick = () => {
    const currentTheme = document.documentElement.getAttribute('data-theme');
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';
    document.documentElement.setAttribute('data-theme', newTheme);
  };

  toggles.forEach((toggle) => toggle.addEventListener('click', handleClick));
</script>
