---
import { Icon } from 'astro-icon/components';
---

<div
  id="toast"
  class:list={[
    'group fixed bottom-4 left-4 right-4 z-40 grid max-w-96 grid-cols-[auto_1fr_auto] items-center gap-x-4 overflow-hidden rounded-2xl border border-white/10 bg-black/60 p-4 backdrop-blur-lg transition-[visibility,opacity,transform] duration-300 aria-hidden:pointer-events-none aria-hidden:invisible aria-hidden:-translate-x-full aria-hidden:opacity-0 sm:bottom-8 sm:left-8 sm:right-auto',
    'after:absolute after:left-0 after:top-1/2 after:h-[calc(100%-2rem)] after:w-0.5 after:-translate-y-1/2 after:rounded-r-full data-[status=error]:after:bg-red-500 data-[status=success]:after:bg-green-500',
  ]}
  aria-hidden="true"
  transition:persist
>
  <Icon
    name="heroicons:exclamation-triangle"
    size={24}
    class="hidden text-red-500 group-data-[status=error]:block"
  />
  <Icon
    name="heroicons:check-circle"
    size={24}
    class="hidden text-green-500 group-data-[status=success]:block"
  />
  <h5 class="text-lg font-semibold text-white" data-slot="title"></h5>
  <p
    class="col-start-2 -col-end-1 row-start-2 text-base font-medium text-white/60"
    data-slot="description"
  >
  </p>
  <button
    type="button"
    class="text-white/60 hover:text-white"
    data-slot="close"
  >
    <Icon name="heroicons:x-mark-20-solid" size={20} />
  </button>
</div>

<script>
  import {
    toastElement,
    closeButtonElement,
    cancelTimeout,
    startTimeout,
    closeToast,
  } from '@/utils/toast';

  toastElement.addEventListener('mouseenter', cancelTimeout);
  toastElement.addEventListener('mouseleave', startTimeout);
  closeButtonElement.addEventListener('click', closeToast);
</script>
