---
import BaseLayout, { type BaseLayoutProps } from '@/layouts/base-layout.astro';
import Header from '@/components/header.astro';
import ToastNotification from '@/components/toast-notification.astro';

type Props = BaseLayoutProps;
---

<BaseLayout {...Astro.props}>
  <Header />
  <main class="min-h-[calc(100dvh-var(--header-height))]">
    <slot />
  </main>
  <ToastNotification />
</BaseLayout>
